<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SharePoint.TenantUrl" value="https://***.sharepoint.com"/>
    <add key="SharePoint.SiteName" value="testsite"/>
    <add key="SharePoint.DocumentLibraryName" value="Documenten"/>
    <add key="SharePoint.Subfolder" value="subfolder"/>
    <add key="SharePoint.Username" value="***@****.onmicrosoft.com"/>
    <add key="SharePoint.Password" value="***"/>

    <add key="ManifestBlob.AccountName" value="migrationapitest"/>
    <add key="ManifestBlob.AccountKey" value="***"/>
    <add key="ManifestBlob.ContainerName" value="migrationmanifest"/>
    
    <add key="SourceFilesBlob.AccountName" value="migrationapitest"/>
    <add key="SourceFilesBlob.AccountKey" value="***"/>
    <add key="SourceFilesBlob.ContainerName" value="sourcefiles"/>

    <add key="ReportQueue.AccountName" value="migrationapitest"/>
    <add key="ReportQueue.AccountKey" value="***"/>
    <add key="ReportQueue.QueueName" value="reportqueue"/>
  </appSettings> 
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Blue" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Purple" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Yellow, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value="mylogfile.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
</configuration>